a{
font-family:"MS UI Gothic",sans-serif;
font-size:13px;
color:#e61a2b;
text-decoration:none;
}

a:active{
font-family:"MS UI Gothic",sans-serif;
font-size:13px;
color:#e61a2b;
background-color:#fff;
text-decoration:none;
}

a:hover{
font-family:"MS UI Gothic",sans-serif;
font-size:13px;
color:#fff;
background-color:#e61a2b;
text-decoration:none;
}

h1{
font-family:"‚l‚r‚oƒSƒVƒbƒN",sans-serif;
color:#000;
font-size:18px;
text-decoration:none;
margin:0px;
padding:0px;
border:0px
}

h2{
font-family:"‚l‚r‚oƒSƒVƒbƒN",sans-serif;
color:#000;
font-size:14px;
font-weight:bold;
text-decoration:none;
margin:0px;
padding:0px;
border:0px
}

form{
margin:0px;
padding:0px;
border:0px
}

table.white{background-color:white;border:solid 1px gray}

.mainbody{
font-family:"‚l‚r‚oƒSƒVƒbƒN",sans-serif;
text-decoration:none;
margin:4px;
border:0px;
}

.mono{
font-family:"‚l‚rƒSƒVƒbƒN",monospace;
text-align:left;
font-size:12px;
line-height:14px;
text-decoration:none;
border:0px
}

.gray{
font-family:"‚l‚rƒSƒVƒbƒN",monospace;
color:#777;
text-align:left;
font-size:12px;
line-height:14px;
text-decoration:none;
border:0px
}

.plain{
font-family:"‚l‚r‚oƒSƒVƒbƒN",sans-serif;
text-align:left;
font-size:12px;
line-height:18px;
text-decoration:none;
}

.caption{
font-family:"‚l‚r‚oƒSƒVƒbƒN",sans-serif;
text-align:left;
font-size:11px;
text-decoration:none;
}

.notice{
font-family:"‚l‚r‚oƒSƒVƒbƒN",sans-serif;
color:#f00;
font-size:11px;
text-decoration:none;
text-align:left;
}

.emphasis{
font-family:"MS UI Gothic",sans-serif;
font-size:13px;
font-weight:bold;
margin:1px;
}

.function{
font-family:"‚l‚r‚oƒSƒVƒbƒN",sans-serif;
color:#c30;
font-size:14px;
font-weight:bold;
text-decoration:none;
}

.eyecatch{
font-family:"‚l‚r‚oƒSƒVƒbƒN",sans-serif;
font-size:18px;
font-weight:bold;
text-decoration:none;
margin:2px;
padding:0px;
border:0px
}

.fldname{
font-family:"‚l‚rƒSƒVƒbƒN",monospace;
font-weight:bold;
color:#000;
text-align:right;
font-size:10px;
text-decoration:none;
padding-right:4px;
}

.item_name{
font-family:"‚l‚r‚oƒSƒVƒbƒN",sans-serif;
color:#e00;
font-size:14px;
font-weight:bold;
text-decoration:none;
margin:0px;
padding:0px 0px 0px 2px;
border:0px
}

.item_fldname{
font-family:"‚l‚r‚oƒSƒVƒbƒN",monospace;
font-weight:bold;
color:#000;
font-size:12px;
padding:5px;
}

.item_fld{
font-family:"‚l‚r‚oƒSƒVƒbƒN",monospace;
color:#000;
font-size:12px;
padding-left:5px;
}